.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.blog-card {
    background-color: #333232;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 20px;
    gap: 20px;
    text-overflow: ellipsis;
  }
  
  .blog-card-image {
    width: 350px;
    height: 220px;
    background-color: black;
    border-radius: 6px;
  }
  
  .blog-card-right {
    display: flex;
    max-height: 220px;
    flex-direction: column;
    color: #f0f0f0;
    text-align: left;
    overflow: scroll;
    text-overflow: ellipsis;
    gap: 8px;
  }
  
  .blog-inner {
      display: flex;
      gap: 40px;
      text-overflow: ellipsis;
    }
    
  .blog-card-text{
      font-family: Kanit;
      font-size: 24px;
      font-weight: 400px;
      text-overflow: ellipsis;
  }

  .view-blog:hover{
    text-decoration: none;
  }

  .comment p{
    color: #333232;
}