.comment{
    display: flex;
    width: 90vw;
    flex-direction: column;
    color: #f0f0f0;
    justify-content: center;
    align-items: center;
}

.comment-card{
    display: flex;
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-content: center;
    background-color: #333232;
    padding: 40px;
    padding-left: 0px;
    gap: 20px;
    text-align: left;
    margin: 20px;
    border-radius: 6px;
;
}

.comment-card-create {
  display: flex;
  width: 80vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-content: center;
  background-color: #f0f0f0;
  padding: 40px;
  padding-left: 0px;
  gap: 20px;
  text-align: left;
  margin: 20px;
  border-radius: 6px;
}

.comment-card p{
    color: #f0f0f0;
}

.comment-row{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: stretch;  
    text-align: left 
}

.comment-text{
  display: flex;
  justify-content: left;
  align-items: left;
}



.comment-inner-left{
  width: 20vw;
  text-align: center;
  text-align: left
}

.comment-inner-right{
    width: 40vw;
    text-align: center;
    text-align: right;
  }

  .comment-inner-center{
    width: auto;
    height: 20vw;
    text-align: center;
    text-align: right;
  }

  @media screen and (max-width: 740px) {
    .comment-card {
      padding: 20px;
      justify-content: center;
      align-items: center;
      text-align: center;
      
    }
    
    .comment-row{
      gap: 5px;
    }
  
    .article-inner {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      place-content: center;
      text-align: center;
      flex-wrap: wrap;
    }
  }
  