.footer-container{
    background-color: #333232;
    height: 540px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.footer-right{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
}

.footer-address-copy{
    width: 400px;
}

.footer-social-media{
    display: flex;
    padding: 20px;
    gap: 20px;
}

.footer-inner1{
    display: flex;
    gap: 60px;
}


.footer-sub{
    font-size: 24px;
    color: #F8F8F8;
    margin-bottom: 20px;
}

.footer-address{
    font-size: 24px;
    color: #F8F8F8;
    text-decoration: underline;
    margin-bottom: 20px;
}

.footer-copy{
    font-size: 36px;
    color: #FF0E0E;
    margin: 0px;
}

.footer-name{
  font-size: 36px;
  color: #F8F8F8;
  margin: 0px;
}

@media screen and (max-width:1100px) {
    .footer-right{
        display: none;
    }
}