.footer-container{
    background-color: #333232;
    height: 540px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;

 
    left: 0;
    right: 0;
}

.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.footer-right{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
}

.footer-address-copy{
    width: 400px;
}

.footer-social-media{
    display: flex;
    padding: 20px;
    gap: 20px;
}

.footer-inner1{
    display: flex;
    gap: 60px;
}

.footer-to-top:hover{
    color: #FF0E0E;
  }

@media screen and (max-width:770px) {
    .footer-right{
        display: none;
    }
    .footer-social-media{
        display: flex;
        padding: 5px;
        gap: 10px;
    }

    .footer-left{
        padding: 5px;;
        text-align: center;
    }
    .footer-copyright{
        text-align: center;
    }
    .footer-inner1{
        display: flex;
        gap: 0px;
    }
}