
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}


html {
  padding: 0;
  margin: 0;
}

.heading1{
  font-family: "Aclonica";
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}

.heading2{
  font-family: "Kanit", serif;
  font-weight: 400;
  font-size: 48px;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.sub-heading{
  font-family: "Kanit", serif;
  font-weight: 400;
  font-size: 36px;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.paragraph {
  font-family: "Kanit", serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.caption{
  font-family: "Kanit", serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

ul {
  display: flex;
  gap: 7px;
  padding: 0;
  margin: 0;
}

.link:hover{

    text-decoration: none;
  
}

.primary-button:hover{
  background-color: #333232;
  color: #f8f8f8;
}

.underline{
  text-decoration: underline;
}

.menu {
  list-style: none;
  font-family: "Kanit", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24;
  color: #f8f8f8;
}



.black{
  color: #333232;
}

.white{
  color: #f8f8f8;
}

.red{
  color: #FF0E0E;
}

.text-container {
  margin-top: 20px;
  text-align: left;
  padding: 20px;
}
span {
  font-family: "Kanit", serif;
  font-weight: 400;
}


@media screen and (max-width:1100px) {

  .heading1{
    font-size: 20px;
  }
  
  .sub-heading{
   
    font-size: 30px;

  }
  
  .paragraph {
   
    font-size: 15px;

  }

  .text-container {
    margin-top: 20px;
    text-align: left;
    width: 100vw;
  }

}