.navbar-container {
  border-radius: 0px;
  width: 100vw;
  height: 120px;
  padding: 0px;
  margin: 0px;
  top: 0px;
  background-color: #333232;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.menu:hover {
  color: #ff0e0e;
  text-decoration: none;
}

.navbar-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  
  z-index: 3;

}

.navbar-login {
  display: none;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;

}

.navbar-logo {
  margin-left: 70px;
  height: 85px;
  z-index: -1;
}

.hamburger {
  display: none;
}

.hamburger-container {
  width: 30px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hamburger-part {
  width: 30px;
  height: 5px;
  background-color: #ffff;
  border-radius: 20px;
}

.hamburger-menu{
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #F8F8F8;
  height: 100%;
  width: 100%;
  width: auto;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

.hamburger-menu-inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-content: center;
  text-decoration: none;
  list-style: none;
  margin: 40px;
}



.navbar-menu-text:hover {
  text-decoration: none;
  color: #ff0e0e;
}


.navbar-menu-container{
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 740px) {
  .navbar-container {
    height: 80px;
  }

  .navbar-inner {
    gap: 15px;
  }

  .navbar-menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .navbar-logo {
    margin-left: 0;
    height: 50px;
  }

  .navbar-login {
    display: block;
  }

  .navbar-inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
