.navbar-container {
  border-radius: 0px;
  width: 100vw;
  height: 120px;
  padding: 0px;
  margin: 0px;
  top: 0px;
  background-color: #333232;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.menu:hover {
  color: #ff0e0e;
  text-decoration: none;
}

.navbar-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-login {
  display: none;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  margin-left: 70px;
  height: 85px;
}

.hamburger {
  display: none;
}

.hamburger-container {
  width: 30px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hamburger-part {
  width: 30px;
  height: 5px;
  background-color: #ffff;
  border-radius: 20px;
}

@media screen and (max-width: 740px) {
  .navbar-container {
    height: 80px;
  }

  .navbar-inner {
    gap: 15px;
  }

  .navbar-menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .navbar-logo {
    margin-left: 0;
    height: 50px;
  }

  .navbar-login {
    display: block;
  }

  .navbar-inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
