.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    margin-top: 200px;
    margin-bottom: 10px;
    text-align: center;
    gap: 20px;
}

.content{
   margin-top: 30; 
   max-width: 1280px;
}



@media screen and (max-width: 740px) {
   
  }
  