#shopping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.filter-button {
  width: auto;
  background-color: transparent;
  border: 1px solid #333232;
}

.filter-button:hover {
  background-color: #ff0e0e;
  font-family: Kanit;
  font-weight: 400px;
}

.filter-button:hover p {
  color: #f8f8f8;
}

.filter-button:focus {
  background-color: #ff0e0e;
  font-family: Kanit;
  font-weight: 400px;
  border: 1px solid #333232;
}

.filter-button:active {
  border: 1px solid #333232;
}

.filter-button:visited {
  background-color: #ff0e0e;
  font-family: Kanit;
  font-weight: 400px;
  border: 1px solid #333232;
}

.shopping-card-container {
  display: grid;
  column-gap: 5px;
  row-gap: 20px;
  grid-template-columns: auto auto auto;
  margin-bottom: 180px;
}

.shopping-card {
  width: 20vw;
  height: auto;
  color: #333232;
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-card-image{
  height: 30vh;
  width: auto;
}

.shopping-name {
  font-size: 36px;
}

.shopping-price {
  font-size: 24px;
  color: #333232;
}

.item-detail {
  margin-bottom: 90px;
  margin-top: 30px;
  width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.item-detail-image{
  width: 60vw;
}

@media screen and (max-width: 770px) {

  .shopping-card-container {
    margin-bottom: 89px;
    grid-template-columns: auto auto ; 
  }
  
  .shopping-card-image{
    height:auto;
    width: 30vw;
  }

  .shopping-card{
    height: auto;
  width: 40vw;
  }

  
}
